.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}

._95673652 {
  position: absolute;
  left: calc(50% - 11.5px);
  top: calc(50% - 2px);
  width: 791px;
  height: 840px;
  background-image:
    /* webpackIgnore: true */
    url('assets/_95673652.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.PngtreePurpleEnvelopeLoveEnvel {
  transform-origin: top left;
  position: absolute;
  left: calc(50% - 59.75px);
  top: calc(50% - 32.1328px);
  width: 299.1728px;
  height: 315.7888px;
  background-image:
    /* webpackIgnore: true */
    url('assets/PngtreePurpleEnvelopeLoveEnvel.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9373, -0.3486, 0.3486, 0.9373, 0, 0) translate(-50%, -50%);
}

.PngtreePurpleEnvelopeLoveEnvel2 {
  transform-origin: top left;
  position: absolute;
  left: calc(50% - -39.8347px);
  top: calc(50% - 25.4325px);
  width: 299.1728px;
  height: 315.7888px;
  background-image:
    /* webpackIgnore: true */
    url('assets/PngtreePurpleEnvelopeLoveEnvel2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9373, -0.3486, 0.3486, 0.9373, 0, 0) translate(-50%, -50%);
}