.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  &__ratih{
    color: #000;
    font-size: 20px;
    font-family: Parisienne, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
        margin-bottom: 30px;
}
&__arum {
  color: #4f1e08;
  font-size: 12px;
  width: 300px;
  text-align: center;
  font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
}
}

._95673652 {
  position: absolute;
  left: calc(50% - 11.5px);
  top: calc(50% - 2px);
  width: 791px;
  height: 840px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
